////////////////////////////////////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
//	SECTION INTRO 			  //////////////////////////////////////////////////
//                            //////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

.section-intro {
    margin-top: screenbased-calculation($minvalue:4, $maxvalue:5.6);
    margin-bottom: screenbased-calculation($minvalue:4, $maxvalue:5.6);

    h1 {
        margin-top: 0;
    }
}